<a href="https://colab.research.google.com/github/Soothysay/Big_Data_Class/blob/main/PySpark%2BHIVE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installing the Required Files

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q https://www-us.apache.org/dist/spark/spark-3.0.3/spark-3.0.3-bin-hadoop2.7.tgz

In [ ]:
!tar xf spark-3.0.3-bin-hadoop2.7.tgz

In [ ]:
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.3-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()

In [ ]:
findspark.find()

'/content/spark-3.0.3-bin-hadoop2.7'

# Launching Spark Session

In [ ]:
from pyspark.sql import SparkSession
# Launching Spark Session with Hive
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .enableHiveSupport()\
        .getOrCreate()

In [ ]:
spark

# Optional

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels

--2021-07-08 15:16:35--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 34.228.108.156, 44.193.52.174, 3.223.240.69, ...
Connecting to bin.equinox.io (bin.equinox.io)|34.228.108.156|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip.16’

ngrok-stable-linux- 100%[===================>]  13.19M  31.4MB/s    in 0.4s

2021-07-08 15:16:36 (31.4 MB/s) - ‘ngrok-stable-linux-amd64.zip.16’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: ngrok
{"tunnels":[{"name":"command_line (http)","uri":"/api/tunnels/command_line%20%28http%29","public_url":"http://bbdc2ebb25e7.ngrok.io","proto":"http","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":25,"gauge":0,"rate1":8.798996708838241e-26,"rate5":1.2829204357588716e-7,"rate15":0.00006176545889112435,"p50":30004865410,"p90":34104069592.600002,"p95":34970123409.5,"p99":35237984171},"http":{"count":96,"rate1":4.26948902289676e-25,"rate5":9.286672607985973e-7,"rate15":0.00046783708067246694,"p50":2904082,"p90":19813823.29999999,"p95":28071157.34999996,"p99":95496502}}},{"name":"command_line","uri":"/api/tunnels/command_line","public_url":"https://bbdc2ebb25e7.ngrok.io","proto":"https","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}}],"uri":"/api/tunnels"}

# Creating Spark DataFrame

In [ ]:
df = spark.read.csv('/content/exchg_rate.csv',header=True,inferSchema=True)

In [ ]:
df.show()

+----------+--------+----------------+--------------------+-------------------+---------------------+----------------------+---------------------+-------------+
|FROMCRNCCD|TOCRNCCD|CRNCFROMLONGDESC|      CRNCTOLONGDESC|CRNCEXCHGRATETYPECD|CRNCEXCHGRATETYPEDESC|CRNCEXCHGRATEEFFSTRTDT|CRNCEXCHGRATEEFFENDDT|CRNCEXCHGRATE|
+----------+--------+----------------+--------------------+-------------------+---------------------+----------------------+---------------------+-------------+
|       SKK|     BDT| Slovakian Krona|     Bangladesh Taka|                  B|            excg rate|              01/11/05|             30/11/05|  3.182271075|
|       SKK|     USD| Slovakian Krona|     American Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.044820719|
|       SKK|   *UNK*| Slovakian Krona|                null|                  B|            excg rate|              01/11/05|             30/11/05|          0.0|
|       SKK|     IDR| Slovakian Krona|   Indonesian Rupiah|                  B|            excg rate|              01/11/05|             30/11/05|  403.3864743|
|       SKK|     MYR| Slovakian Krona|   Malaysian Ringgit|                  B|            excg rate|              01/11/05|             30/11/05|   0.13894423|
|       SKK|     PYG| Slovakian Krona|  Paraguayan Guarani|                  B|            excg rate|              01/11/05|             30/11/05|   210.657381|
|       SKK|     HRK| Slovakian Krona|       Croatian Kuna|                  B|            excg rate|              01/11/05|             30/11/05|  0.236909325|
|       SKK|     UYU| Slovakian Krona|Uruguayan Peso (new)|                  B|            excg rate|              01/11/05|             30/11/05|  0.896414387|
|       SKK|     KRW| Slovakian Krona|    South Korean Won|                  B|            excg rate|              01/11/05|             30/11/05|  51.54382727|
|       SKK|     ZWD| Slovakian Krona|   Zimbabwean Dollar|                  B|            excg rate|              01/11/05|             30/11/05|   0.16449204|
|       SKK|     CZK| Slovakian Krona|         Czech Krona|                  B|            excg rate|              01/11/05|             30/11/05|  0.800369861|
|       SKK|     THB| Slovakian Krona|       Thailand Baht|                  B|            excg rate|              01/11/05|             30/11/05|  1.344621581|
|       SKK|     AUD| Slovakian Krona|   Australian Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.047179705|
|       SKK|     VND| Slovakian Krona|     Vietnamese Dong|                  B|            excg rate|              01/11/05|             30/11/05|  941.2351066|
|       SKK|     HKD| Slovakian Krona|    Hong Kong Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.349601611|
|       SKK|     SGD| Slovakian Krona|    Singapore Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.056025899|
|       SKK|     CAD| Slovakian Krona|     Canadian Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.044820719|
|       SKK|     GBP| Slovakian Krona|       British Pound|                  B|            excg rate|              01/11/05|             30/11/05|   0.02721256|
|       SKK|     ZAR| Slovakian Krona|  South African Rand|                  B|            excg rate|              01/11/05|             30/11/05|  0.336155395|
|       SKK|     TRL| Slovakian Krona|        Turkish Lira|                  B|            excg rate|              01/11/05|             30/11/05|  71713.15098|
+----------+--------+----------------+--------------------+-------------------+---------------------+----------------------+---------------------+-------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- FROMCRNCCD: string (nullable = true)
 |-- TOCRNCCD: string (nullable = true)
 |-- CRNCFROMLONGDESC: string (nullable = true)
 |-- CRNCTOLONGDESC: string (nullable = true)
 |-- CRNCEXCHGRATETYPECD: string (nullable = true)
 |-- CRNCEXCHGRATETYPEDESC: string (nullable = true)
 |-- CRNCEXCHGRATEEFFSTRTDT: string (nullable = true)
 |-- CRNCEXCHGRATEEFFENDDT: string (nullable = true)
 |-- CRNCEXCHGRATE: double (nullable = true)

In [ ]:
df.count()

725671

In [ ]:
# Summary of Data
df.describe().show()

+-------+----------+--------+-----------------+-----------------+-------------------+---------------------+----------------------+---------------------+------------------+
|summary|FROMCRNCCD|TOCRNCCD| CRNCFROMLONGDESC|   CRNCTOLONGDESC|CRNCEXCHGRATETYPECD|CRNCEXCHGRATETYPEDESC|CRNCEXCHGRATEEFFSTRTDT|CRNCEXCHGRATEEFFENDDT|     CRNCEXCHGRATE|
+-------+----------+--------+-----------------+-----------------+-------------------+---------------------+----------------------+---------------------+------------------+
|  count|    725671|  725671|           714598|           714598|             725671|               725671|                725671|               725671|            725671|
|   mean|      null|    null|             null|             null|               null|                 null|                  null|                 null| 8617.573998703845|
| stddev|      null|    null|             null|             null|               null|                 null|                  null|                 null|123838.61709580038|
|    min|     *UNK*|   *UNK*|  American Dollar|  American Dollar|                  B|            excg rate|            0001-01-01|             28/02/06|               0.0|
|    max|       ZWD|     ZWD|Zimbabwean Dollar|Zimbabwean Dollar|                  B|            excg rate|              01/12/21|             31/12/99|       4329510.879|
+-------+----------+--------+-----------------+-----------------+-------------------+---------------------+----------------------+---------------------+------------------+

# Some Basic Spark DataFrame Operations

In [ ]:
set1=df.select('FROMCRNCCD','TOCRNCCD','CRNCEXCHGRATE')

In [ ]:
set1.show()

+----------+--------+-------------+
|FROMCRNCCD|TOCRNCCD|CRNCEXCHGRATE|
+----------+--------+-------------+
|       SKK|     BDT|  3.182271075|
|       SKK|     USD|  0.044820719|
|       SKK|   *UNK*|          0.0|
|       SKK|     IDR|  403.3864743|
|       SKK|     MYR|   0.13894423|
|       SKK|     PYG|   210.657381|
|       SKK|     HRK|  0.236909325|
|       SKK|     UYU|  0.896414387|
|       SKK|     KRW|  51.54382727|
|       SKK|     ZWD|   0.16449204|
|       SKK|     CZK|  0.800369861|
|       SKK|     THB|  1.344621581|
|       SKK|     AUD|  0.047179705|
|       SKK|     VND|  941.2351066|
|       SKK|     HKD|  0.349601611|
|       SKK|     SGD|  0.056025899|
|       SKK|     CAD|  0.044820719|
|       SKK|     GBP|   0.02721256|
|       SKK|     ZAR|  0.336155395|
|       SKK|     TRL|  71713.15098|
+----------+--------+-------------+
only showing top 20 rows

In [ ]:
df.filter(df.FROMCRNCCD=='INR').show()

+----------+--------+----------------+--------------------+-------------------+---------------------+----------------------+---------------------+-------------+
|FROMCRNCCD|TOCRNCCD|CRNCFROMLONGDESC|      CRNCTOLONGDESC|CRNCEXCHGRATETYPECD|CRNCEXCHGRATETYPEDESC|CRNCEXCHGRATEEFFSTRTDT|CRNCEXCHGRATEEFFENDDT|CRNCEXCHGRATE|
+----------+--------+----------------+--------------------+-------------------+---------------------+----------------------+---------------------+-------------+
|       INR|     BDT|    Indian Rupee|     Bangladesh Taka|                  B|            excg rate|              01/11/05|             30/11/05|  1.577777778|
|       INR|     USD|    Indian Rupee|     American Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.022222222|
|       INR|   *UNK*|    Indian Rupee|                null|                  B|            excg rate|              01/11/05|             30/11/05|          0.0|
|       INR|     IDR|    Indian Rupee|   Indonesian Rupiah|                  B|            excg rate|              01/11/05|             30/11/05|        200.0|
|       INR|     MYR|    Indian Rupee|   Malaysian Ringgit|                  B|            excg rate|              01/11/05|             30/11/05|  0.068888889|
|       INR|     PYG|    Indian Rupee|  Paraguayan Guarani|                  B|            excg rate|              01/11/05|             30/11/05|  104.4444444|
|       INR|     HRK|    Indian Rupee|       Croatian Kuna|                  B|            excg rate|              01/11/05|             30/11/05|  0.117460222|
|       INR|     UYU|    Indian Rupee|Uruguayan Peso (new)|                  B|            excg rate|              01/11/05|             30/11/05|  0.444444444|
|       INR|     KRW|    Indian Rupee|    South Korean Won|                  B|            excg rate|              01/11/05|             30/11/05|  25.55555556|
|       INR|     ZWD|    Indian Rupee|   Zimbabwean Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.081555556|
|       INR|     CZK|    Indian Rupee|         Czech Krona|                  B|            excg rate|              01/11/05|             30/11/05|  0.396825333|
|       INR|     THB|    Indian Rupee|       Thailand Baht|                  B|            excg rate|              01/11/05|             30/11/05|  0.666666667|
|       INR|     AUD|    Indian Rupee|   Australian Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.023391813|
|       INR|     VND|    Indian Rupee|     Vietnamese Dong|                  B|            excg rate|              01/11/05|             30/11/05|  466.6666667|
|       INR|     HKD|    Indian Rupee|    Hong Kong Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.173333333|
|       INR|     SGD|    Indian Rupee|    Singapore Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.027777778|
|       INR|     CAD|    Indian Rupee|     Canadian Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.022222222|
|       INR|     GBP|    Indian Rupee|       British Pound|                  B|            excg rate|              01/11/05|             30/11/05|  0.013492054|
|       INR|     ZAR|    Indian Rupee|  South African Rand|                  B|            excg rate|              01/11/05|             30/11/05|  0.166666667|
|       INR|     TRL|    Indian Rupee|        Turkish Lira|                  B|            excg rate|              01/11/05|             30/11/05|  35555.55556|
+----------+--------+----------------+--------------------+-------------------+---------------------+----------------------+---------------------+-------------+
only showing top 20 rows

# Create Temporary View (HIVE Table)

In [ ]:
# Converting Spark Dataframe to Hive Table
df.write.mode("overwrite").saveAsTable("test_table2")

In [ ]:
#Instances where INR Present
INR=spark.sql("select * from test_table2  a where a.FROMCRNCCD=='INR'")

In [ ]:
INR.show()

+----------+--------+----------------+--------------------+-------------------+---------------------+----------------------+---------------------+-------------+
|FROMCRNCCD|TOCRNCCD|CRNCFROMLONGDESC|      CRNCTOLONGDESC|CRNCEXCHGRATETYPECD|CRNCEXCHGRATETYPEDESC|CRNCEXCHGRATEEFFSTRTDT|CRNCEXCHGRATEEFFENDDT|CRNCEXCHGRATE|
+----------+--------+----------------+--------------------+-------------------+---------------------+----------------------+---------------------+-------------+
|       INR|     BDT|    Indian Rupee|     Bangladesh Taka|                  B|            excg rate|              01/11/05|             30/11/05|  1.577777778|
|       INR|     USD|    Indian Rupee|     American Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.022222222|
|       INR|   *UNK*|    Indian Rupee|                null|                  B|            excg rate|              01/11/05|             30/11/05|          0.0|
|       INR|     IDR|    Indian Rupee|   Indonesian Rupiah|                  B|            excg rate|              01/11/05|             30/11/05|        200.0|
|       INR|     MYR|    Indian Rupee|   Malaysian Ringgit|                  B|            excg rate|              01/11/05|             30/11/05|  0.068888889|
|       INR|     PYG|    Indian Rupee|  Paraguayan Guarani|                  B|            excg rate|              01/11/05|             30/11/05|  104.4444444|
|       INR|     HRK|    Indian Rupee|       Croatian Kuna|                  B|            excg rate|              01/11/05|             30/11/05|  0.117460222|
|       INR|     UYU|    Indian Rupee|Uruguayan Peso (new)|                  B|            excg rate|              01/11/05|             30/11/05|  0.444444444|
|       INR|     KRW|    Indian Rupee|    South Korean Won|                  B|            excg rate|              01/11/05|             30/11/05|  25.55555556|
|       INR|     ZWD|    Indian Rupee|   Zimbabwean Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.081555556|
|       INR|     CZK|    Indian Rupee|         Czech Krona|                  B|            excg rate|              01/11/05|             30/11/05|  0.396825333|
|       INR|     THB|    Indian Rupee|       Thailand Baht|                  B|            excg rate|              01/11/05|             30/11/05|  0.666666667|
|       INR|     AUD|    Indian Rupee|   Australian Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.023391813|
|       INR|     VND|    Indian Rupee|     Vietnamese Dong|                  B|            excg rate|              01/11/05|             30/11/05|  466.6666667|
|       INR|     HKD|    Indian Rupee|    Hong Kong Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.173333333|
|       INR|     SGD|    Indian Rupee|    Singapore Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.027777778|
|       INR|     CAD|    Indian Rupee|     Canadian Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.022222222|
|       INR|     GBP|    Indian Rupee|       British Pound|                  B|            excg rate|              01/11/05|             30/11/05|  0.013492054|
|       INR|     ZAR|    Indian Rupee|  South African Rand|                  B|            excg rate|              01/11/05|             30/11/05|  0.166666667|
|       INR|     TRL|    Indian Rupee|        Turkish Lira|                  B|            excg rate|              01/11/05|             30/11/05|  35555.55556|
+----------+--------+----------------+--------------------+-------------------+---------------------+----------------------+---------------------+-------------+
only showing top 20 rows

In [ ]:
#Instances where INR to Euro Present
INR_EUR=spark.sql("select * from test_table2  a where a.FROMCRNCCD=='INR' AND a.TOCRNCCD=='EUR'")

In [ ]:
INR_EUR.show()

+----------+--------+----------------+-------------------+-------------------+---------------------+----------------------+---------------------+-------------+-----------------+
|FROMCRNCCD|TOCRNCCD|CRNCFROMLONGDESC|     CRNCTOLONGDESC|CRNCEXCHGRATETYPECD|CRNCEXCHGRATETYPEDESC|CRNCEXCHGRATEEFFSTRTDT|CRNCEXCHGRATEEFFENDDT|CRNCEXCHGRATE|             BACK|
+----------+--------+----------------+-------------------+-------------------+---------------------+----------------------+---------------------+-------------+-----------------+
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/11/05|             30/11/05|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/12/05|             31/12/05|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/01/06|             31/01/06|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/02/06|             28/02/06|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/03/06|             31/03/06|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/04/06|             30/04/06|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/05/06|             31/05/06|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/06/06|             30/06/06|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/07/06|             31/07/06|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/08/06|             31/08/06|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/09/06|             30/09/06|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/10/06|             31/10/06|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/11/06|             30/11/06|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/12/06|             31/12/06|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/01/07|             31/01/07|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/02/07|             28/02/07|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/03/07|             31/03/07|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/04/07|             30/04/07|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/05/07|             31/05/07|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/06/07|             30/06/07|  0.015384615|65.00000162500004|
+----------+--------+----------------+-------------------+-------------------+---------------------+----------------------+---------------------+-------------+-----------------+
only showing top 20 rows

In [ ]:
#Instances where INR to USD Present
INR_USD=spark.sql("select * from test_table2  a where a.FROMCRNCCD=='INR' AND a.TOCRNCCD=='USD'")

In [ ]:
INR_USD.show()

+----------+--------+----------------+---------------+-------------------+---------------------+----------------------+---------------------+-------------+------------+
|FROMCRNCCD|TOCRNCCD|CRNCFROMLONGDESC| CRNCTOLONGDESC|CRNCEXCHGRATETYPECD|CRNCEXCHGRATETYPEDESC|CRNCEXCHGRATEEFFSTRTDT|CRNCEXCHGRATEEFFENDDT|CRNCEXCHGRATE|        BACK|
+----------+--------+----------------+---------------+-------------------+---------------------+----------------------+---------------------+-------------+------------+
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/12/05|             31/12/05|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/01/06|             31/01/06|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/02/06|             28/02/06|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/03/06|             31/03/06|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/04/06|             30/04/06|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/05/06|             31/05/06|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/06/06|             30/06/06|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/07/06|             31/07/06|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/08/06|             31/08/06|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/09/06|             30/09/06|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/10/06|             31/10/06|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/11/06|             30/11/06|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/12/06|             31/12/06|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/01/07|             31/01/07|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/02/07|             28/02/07|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/03/07|             31/03/07|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/04/07|             30/04/07|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/05/07|             31/05/07|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/06/07|             30/06/07|  0.019230769|52.000000624|
+----------+--------+----------------+---------------+-------------------+---------------------+----------------------+---------------------+-------------+------------+
only showing top 20 rows

# Transformation Function and creating a new column in DataFrames

In [ ]:
# Converting INR to USD
INR_USD=INR_USD.withColumn("BACK", 1/INR_USD.CRNCEXCHGRATE)

In [ ]:
INR_USD.show()

+----------+--------+----------------+---------------+-------------------+---------------------+----------------------+---------------------+-------------+------------+
|FROMCRNCCD|TOCRNCCD|CRNCFROMLONGDESC| CRNCTOLONGDESC|CRNCEXCHGRATETYPECD|CRNCEXCHGRATETYPEDESC|CRNCEXCHGRATEEFFSTRTDT|CRNCEXCHGRATEEFFENDDT|CRNCEXCHGRATE|        BACK|
+----------+--------+----------------+---------------+-------------------+---------------------+----------------------+---------------------+-------------+------------+
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/12/05|             31/12/05|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/01/06|             31/01/06|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/02/06|             28/02/06|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/03/06|             31/03/06|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/04/06|             30/04/06|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/05/06|             31/05/06|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/06/06|             30/06/06|  0.022222222| 45.00000045|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/07/06|             31/07/06|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/08/06|             31/08/06|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/09/06|             30/09/06|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/10/06|             31/10/06|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/11/06|             30/11/06|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/12/06|             31/12/06|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/01/07|             31/01/07|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/02/07|             28/02/07|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/03/07|             31/03/07|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/04/07|             30/04/07|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/05/07|             31/05/07|  0.019230769|52.000000624|
|       INR|     USD|    Indian Rupee|American Dollar|                  B|            excg rate|              01/06/07|             30/06/07|  0.019230769|52.000000624|
+----------+--------+----------------+---------------+-------------------+---------------------+----------------------+---------------------+-------------+------------+
only showing top 20 rows

In [ ]:
# Converting INR to Euro
INR_EUR=INR_EUR.withColumn("BACK", 1/INR_USD.CRNCEXCHGRATE)

In [ ]:
INR_EUR.show()

+----------+--------+----------------+-------------------+-------------------+---------------------+----------------------+---------------------+-------------+-----------------+
|FROMCRNCCD|TOCRNCCD|CRNCFROMLONGDESC|     CRNCTOLONGDESC|CRNCEXCHGRATETYPECD|CRNCEXCHGRATETYPEDESC|CRNCEXCHGRATEEFFSTRTDT|CRNCEXCHGRATEEFFENDDT|CRNCEXCHGRATE|             BACK|
+----------+--------+----------------+-------------------+-------------------+---------------------+----------------------+---------------------+-------------+-----------------+
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/11/05|             30/11/05|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/12/05|             31/12/05|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/01/06|             31/01/06|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/02/06|             28/02/06|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/03/06|             31/03/06|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/04/06|             30/04/06|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/05/06|             31/05/06|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/06/06|             30/06/06|  0.015873016|     62.999999496|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/07/06|             31/07/06|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/08/06|             31/08/06|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/09/06|             30/09/06|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/10/06|             31/10/06|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/11/06|             30/11/06|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/12/06|             31/12/06|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/01/07|             31/01/07|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/02/07|             28/02/07|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/03/07|             31/03/07|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/04/07|             30/04/07|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/05/07|             31/05/07|  0.015384615|65.00000162500004|
|       INR|     EUR|    Indian Rupee|EMU currency (Euro)|                  B|            excg rate|              01/06/07|             30/06/07|  0.015384615|65.00000162500004|
+----------+--------+----------------+-------------------+-------------------+---------------------+----------------------+---------------------+-------------+-----------------+
only showing top 20 rows

In [ ]:
# If we are doing this to whole DataFrame
df=df.withColumn("BACK", 1/df.CRNCEXCHGRATE)

In [ ]:
df.show()

+----------+--------+----------------+--------------------+-------------------+---------------------+----------------------+---------------------+-------------+--------------------+
|FROMCRNCCD|TOCRNCCD|CRNCFROMLONGDESC|      CRNCTOLONGDESC|CRNCEXCHGRATETYPECD|CRNCEXCHGRATETYPEDESC|CRNCEXCHGRATEEFFSTRTDT|CRNCEXCHGRATEEFFENDDT|CRNCEXCHGRATE|                BACK|
+----------+--------+----------------+--------------------+-------------------+---------------------+----------------------+---------------------+-------------+--------------------+
|       SKK|     BDT| Slovakian Krona|     Bangladesh Taka|                  B|            excg rate|              01/11/05|             30/11/05|  3.182271075|  0.3142409858971552|
|       SKK|     USD| Slovakian Krona|     American Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.044820719|  22.311110180985718|
|       SKK|   *UNK*| Slovakian Krona|                null|                  B|            excg rate|              01/11/05|             30/11/05|          0.0|                null|
|       SKK|     IDR| Slovakian Krona|   Indonesian Rupiah|                  B|            excg rate|              01/11/05|             30/11/05|  403.3864743|0.002479012222051591|
|       SKK|     MYR| Slovakian Krona|   Malaysian Ringgit|                  B|            excg rate|              01/11/05|             30/11/05|   0.13894423|   7.197132259468421|
|       SKK|     PYG| Slovakian Krona|  Paraguayan Guarani|                  B|            excg rate|              01/11/05|             30/11/05|   210.657381|0.004747044681050127|
|       SKK|     HRK| Slovakian Krona|       Croatian Kuna|                  B|            excg rate|              01/11/05|             30/11/05|  0.236909325|   4.221024225196707|
|       SKK|     UYU| Slovakian Krona|Uruguayan Peso (new)|                  B|            excg rate|              01/11/05|             30/11/05|  0.896414387|  1.1155555003380373|
|       SKK|     KRW| Slovakian Krona|    South Korean Won|                  B|            excg rate|              01/11/05|             30/11/05|  51.54382727|0.019400965216683257|
|       SKK|     ZWD| Slovakian Krona|   Zimbabwean Dollar|                  B|            excg rate|              01/11/05|             30/11/05|   0.16449204|   6.079321528263617|
|       SKK|     CZK| Slovakian Krona|         Czech Krona|                  B|            excg rate|              01/11/05|             30/11/05|  0.800369861|  1.2494223592459837|
|       SKK|     THB| Slovakian Krona|       Thailand Baht|                  B|            excg rate|              01/11/05|             30/11/05|  1.344621581|  0.7437036666154773|
|       SKK|     AUD| Slovakian Krona|   Australian Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.047179705|  21.195554317264172|
|       SKK|     VND| Slovakian Krona|     Vietnamese Dong|                  B|            excg rate|              01/11/05|             30/11/05|  941.2351066|0.001062433809563...|
|       SKK|     HKD| Slovakian Krona|    Hong Kong Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.349601611|   2.860398718242749|
|       SKK|     SGD| Slovakian Krona|    Singapore Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.056025899|  17.848888065142873|
|       SKK|     CAD| Slovakian Krona|     Canadian Dollar|                  B|            excg rate|              01/11/05|             30/11/05|  0.044820719|  22.311110180985718|
|       SKK|     GBP| Slovakian Krona|       British Pound|                  B|            excg rate|              01/11/05|             30/11/05|   0.02721256|   36.74773707435096|
|       SKK|     ZAR| Slovakian Krona|  South African Rand|                  B|            excg rate|              01/11/05|             30/11/05|  0.336155395|  2.9748146686742896|
|       SKK|     TRL| Slovakian Krona|        Turkish Lira|                  B|            excg rate|              01/11/05|             30/11/05|  71713.15098|1.394444375033651...|
+----------+--------+----------------+--------------------+-------------------+---------------------+----------------------+---------------------+-------------+--------------------+
only showing top 20 rows

In [69]:
from pyspark.sql.functions import col, avg
# Average of Euro Currency
INR_EUR.agg(avg(col("BACK"))).show()
# Average of USD Currency
INR_USD.agg(avg(col("BACK"))).show()

+-----------------+
|        avg(BACK)|
+-----------------+
|79.23437279809256|
+-----------------+

+----------------+
|       avg(BACK)|
+----------------+
|66.7437176038998|
+----------------+